{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      {% comment %} needs this attribute to upload an image {% endcomment %}
      <form method="POST" enctype="multipart/form-data" >
        {% comment %} if we don't specify the route to send the POST request to,
        it will be sent to THIS route {% endcomment %}
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile</legend>
          {% comment %} render the form as a pragraph tag {% endcomment %}
          {{ u_form | crispy }}
        <br/>
          {{ i_form.age | as_crispy_field }}
          <br/>
          {{ i_form.image | as_crispy_field }}
        </fieldset>
        <div class="form-group">
          <button class="btn" type="submit">Update<button>
        </div>
      </form>
    </div>
    <a href="{% url 'two_factor:profile' %}" class="btn btn-block">
      Strengthen your security
    </a>
    {% comment %} <a href="{% url 'two_factor:profile' %}" class="btn btn-block">
      2FA profile
    </a> {% endcomment %}
{% endblock content %}